  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
   </form>

   <div>
      <p>Blog</p>
      <textarea type="text" id="post-blog" name="post-blog"></textarea>
    </div>   

  <br>
  <button class="btn">Add</button>
</section>


<script src="/javascript/add-post.js"></script>