<section>
  {{#each posts as |post|}}
  <article class="post">
      <div class="titleII">
        <h3 class="left"><a href="/dashboard/edit/{{id}}">{{post.title}}</a><span class="right">by {{post.user.username}} on {{format_date post.created_at}}</span></h3>
        <br>
      </div>
    </article>
  {{/each}}

  <br>
  <footer class="add-post">
    <br>
    <a href="/add" class="btn"><button>Add</button></a>
  </footer>
</section>

