  {{#each posts as |post|}}
  <article class="post">
      <div class="title">
        <h3>{{post.title}} by {{post.user.username}} on {{format_date post.created_at}}</h3>
      </div>
      <div class="meta">
        <p>{{post.blog}}</p>
      </div>
     </article>
  {{/each}}