* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: grey;
    --secondary: midnightblue;
    --tertiary: white;
    --quaternary: rgb(255, 241, 241);
    --quinary: rgb(190, 184, 184);
    --senary: darkslategrey;
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }

  nav a {
    color: var(--secondary);
    display: inline-block;
    text-decoration: none;
    margin: 10px 15px;
    display: inline;
    font-size: 1.5em;
  }

  .logout {
    color: var(--secondary);
    background-color: var(--primary);
    text-decoration: none;
    display: inline;
    font-size: 1.5em;
  }

  nav a:hover {
    color: var(--tertiary);
  }
  .logout:hover {
    color: var(--tertiary);
  }

  header h1 {
    border-radius: 10px;
    border: 2px solid var(--secondary);
    color:  var(--secondary);
    background-color: var(--tertiary);
    display: block;
    text-align: left;
    font-size: 2.5em;
  }
  
  .login-form {
    display: block;
    clear: left;
    width: 250px;
    text-align: left;
    margin: 10px;
  }

  input {
    display: block;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  button {
    margin: 5px 0;
    width: 70px;
    height: 35px;
    cursor: pointer;
  }

  .new-post-form input {
    width: 350px;
  }
  #post-blog {
    width: 600px;
    height: 100px;
  }

  .title h3 {
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    background-color: var(--secondary);
    color: var(--quaternary);
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .titleII h3 {
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    background-color: var(--quinary);
    color: var(--senary);
  }
  
  .titleII a {
    color: var(--senary);
  }

  .edit-post-form input {
    width: 350px;
  }

  .edit-post {
    width: 350px;
    height: 100px;
  }
  
  .comment-form {
    width: 350px;
  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }